.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}


.Time-clock {
    text-align: center;
}

.Away-stats {
    text-align: right;
}

.Stat-bar {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.align-middle{
  vertical-align: middle
}

.Live-game {
  background-image: url("http://2.bp.blogspot.com/-hL3bMVxKGtk/VK39k7GwodI/AAAAAAAAfPI/MMcUqhGzYw0/s1600/1960-1950.png");
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-position: center bottom;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
